<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DealHub</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css" rel="stylesheet" type="text/css"/>
<script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
</head>
<body>
<div class="container mx-auto">
    {% include "layout/header.html" %}
    {% block body %}
        {% block content %}
        {% endblock content %}
    {% endblock body %}
    {% block extra_body %}
    {% endblock extra_body %}
    {% include "layout/footer.html" %}
</div>

</body>
</html>