{% load i18n %}

<div class="navbar bg-base-100 shadow-xl ">
    <div class="navbar-start" hx-boost="true">
        <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M4 6h16M4 12h8m-8 6h16"/>
                </svg>
            </div>
            <ul tabindex="0"
                class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                <li><a href="{% url "offers_list" %}" hx-boost="true">Oferty</a></li>
                <li>
                    {% include "layout/theme_change.html" %}
                </li>
            </ul>
        </div>
        <a class="btn btn-ghost text-xl" href="{% url "index" %}">DealHub</a>
    </div>
    <div class="navbar-center hidden lg:flex" hx-boost="true">
        <ul class="menu menu-horizontal px-1">
            <li><a href="{% url "offers_list" %}" hx-boost="true">Oferty</a></li>
        </ul>
    </div>
    <div class="navbar-end gap-2" hx-boost="true">
        <div class="hidden lg:block">
            {% include "layout/theme_change.html" %}
        </div>


        {% if user.is_authenticated %}
            <div class="dropdown dropdown-end">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                    <div class="w-10 rounded-full">
                        <img alt="Tailwind CSS Navbar component"
                             src="{{ user.avatar }}"/>
                    </div>
                </div>
                <ul tabindex="0"
                    class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
                    <li>
                        <a href="{% url "profile" %} " class="justify-between">
                            Profil
                        </a>
                    </li>
                    <li><a href="{% url "account_logout" %}">Wyloguj sie</a></li>
                </ul>
            </div>
        {% else %}
            <a class="btn btn-xs md:btn-normal" href="{% url "account_login" %}">Zaloguj sie</a>
            <a class="btn btn-xs md:btn-normal" href="{% url "account_signup" %}">Zarejestruj sie</a>
        {% endif %}
    </div>
</div>