{% extends "layout/base.html" %}
{% block content %}
<div class="flex flex-col w-full lg:flex-row mt-10">
    <div class="grid flex-grow place-items-center">
        <div class="card w-96 bg-base-100 shadow-xl">
        <div class="card-body">
          <h2 class="card-title">Kategorie</h2>
          {%for category in categories%}
          <div class="flex flex-col">
            <button class="btn btn-primary">{{category.name}}</button>
          </div>
          {%endfor%}
        </div>
        </div>
    </div>
</div> 
<div class="grid flex-grow place-items-center">
    <div class="card bg-base-100 shadow-xl">
        <div class="card-body">
          <h2 class="card-title">Oferty</h2>
          <div class="grid grid-cols-1 md:grid-cols-4 gap-4 min-w-full">
            {%for offer in offers%}
            {%include "offers/card.html" with offer=offer%}
            {%endfor%}
         </div>
        </div>
    </div>
</div>

</div>
<button class="btn btn-primary">DODAJ OFERTE</button>
    





{%endblock content%}