<div
  class="card bg-base-200 shadow-xl {% if thread.is_pinned %}border-2 border-indigo-500/75{% endif %}"
  hx-boost="true"
>
  <div class="card-body">
    <div class="flex items-center space-x-4">
      <div
        class="avatar {% if user.is_online %}online {% else %}offline{% endif %}"
      >
        <div class="h-14 w-14 rounded-full">
          <img
            src="{{ review.author.avatar }}"
            alt="author's profile picture"
          />
        </div>
      </div>

      <div>
        {{ review.content }}
        <p>@{{ review.author.username }}</a></p>
        <div class="rating">
     {% for star in "12345" %}
    {% if forloop.counter == review.stars %}
      <input type="radio" name="rating-{{ review.id }}-{{ forloop.counter }}" class="mask mask-star-2 bg-orange-400" checked disabled="true"/>
    {% else %}
      <input type="radio" name="rating-{{ review.id }}-{{ forloop.counter }}" class="mask mask-star-2 bg-orange-400" disabled="true"/>
    {% endif %}
  {% endfor %}
</div>
        <div class="card-actions py-2"></div>
      </div>
    </div>
  </div>
</div>
